<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>229125929621-dll6s4m16eeemgvqeh11osk0fdpaooi4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.229125929621-dll6s4m16eeemgvqeh11osk0fdpaooi4</string>
	<key>API_KEY</key>
	<string>AIzaSyBwD8Ja0gAUyzumS1tnQ24I7-yivP_2iuU</string>
	<key>GCM_SENDER_ID</key>
	<string>229125929621</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.srchat1</string>
	<key>PROJECT_ID</key>
	<string>srchat-b18bb</string>
	<key>STORAGE_BUCKET</key>
	<string>srchat-b18bb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:229125929621:ios:99545d412580750314b99c</string>
</dict>
</plist>